@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-size: 20px;
    font-family: 'Roboto', cursive;
    background-color: #2d3436;
}

h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
}
form {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

form input {
    width: 30vw;
    height: 50px;
    font-family: 'Roboto', cursive;
    font-size: 15px;
    margin: 5px;
}

button {
    display: block;
    height: 80px;
    width: 150px;
   margin: 20px;
   font-family: 'Roboto', cursive;
   font-size: 25px;
   background-color: #55efc4;
}

button:hover {
    cursor: pointer;
    background-color: #00b894;
}

img {
    width: 50px;
}
li {
    display: flex;
}

.contactItem {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    max-width: 30vw;
    margin: 0 auto;
}

.contactsList {
    background-color: #dfe6e9;
    max-width: 60vw;
    margin: 0 auto;
    padding: 30px;
}